
<div class="columns">
  <div class="column" *ngFor="let item of post">
    <app-card [title]="item.title"></app-card>
  </div>
</div>




<button (click)="clickme()">
  click me
</button>
<span *ngFor="let item of title.split('');let i=index" [class]="checkistrue(item,typetext.split('')[i])">{{item}}</span>
<input type="text" [value]="password" />
<input type="checkbox" [value]="check" />
<input type="text" (input)="onChangelength($event.target.value)" />

<div [appAddclass]="{'bgcolor':1===1}">{{password}}</div> 
<router-outlet></router-outlet>